body {
  margin: 0;
  padding: 0;
}
.img{
  display: flex;
  flex-direction: column;
  
}

.ImageProfile {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid white;
  margin: auto;

}

.Content {
  /* margin-left: 75px;  */

  height: 100%;
  width: 300px;
  background-color: #004AAD;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  position: fixed;
}


.Colum image {
  max-width: 100%;
  max-height: 100%;
}

.Profile {
  display: flex;
  flex-direction: row;
  justify-content: start;
}


.About-Me {
  text-align: center;
}

.Description {
  font-family: "Lora", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: white;
  initial-value: 80;
  initial-letter: 1.6;
  text-decoration: none;
  
}

.Description-Pading {
  padding-left: 15px;
  padding-bottom: 10px;
}
.IconoTop {
  margin-top: 15px;
}

.Info {
  padding-left: 60px;
  margin-left: 110px;
  font-family: "Lora", sans-serif;
}

.Title {
  padding-left: 0px;
  font-weight: 700;
}

.Grey {
  color: gray;
  font-weight: 400;
}

.SubTitle {
  font-weight: 500;
}

.icons {
  width: 32px;
  height: 32px;
}

.Flex-icons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.Name {
  font-family: "Lora", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  color: white;
  initial-value: 80;
  initial-letter: 1.6;
  text-align: start;
}

.Rol {
  font-family: "Lora", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: white;
  initial-value: 80;
  initial-letter: 1.6;
  text-align: start;
}

a.download-link {
  display: inline-block;
  background-color: #fff; 
  color: #000; 
  padding: 10px 20px; 
  text-decoration: none; 
  border-radius: 5px; 
  font-weight: bold; 
  transition: background-color 0.3s;
  margin: 20px 20px 0px 0px; 
}

a.download-link:hover {
  background-color: #38B6FF; 
}






@media (max-width: 500px) {
  .Info {
    margin-left: 0;
    padding-left: 10px;
  }
  
  .Content {

    position:relative;
    width: 100%;
    
  }
  .Profile{
    flex-direction: column;
  }

  .Name{
    text-align: center;
  }
}
